#mostimportant {
         background-color: pink;
      }
      
#important {
         background-color: lightyellow;
      }
    
#leastimportant {
         background-color: lightblue;
      }

li {
         display: inline;
}

a { 
         background-color: lightblue;
}

a:hover { 
    background-color: darkblue;
}
